In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1.1 仅有数据列表即可产生最简单的Series

In [3]:
s1 = pd.Series([1,'a',5.2,7])

In [4]:
# 左侧为索引，右侧为数据
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s1.values

array([1, 'a', 5.2, 7], dtype=object)

In [7]:
# 1.2创建一个具有标签索引的Series

In [10]:
s2 = pd.Series([1,'a',5.2,7], index = ['d','b','a','c'])

In [11]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [12]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
# 1.3 使用python字典创建Series

In [14]:
sdata = {'0hio':35000,'Texas':75000,'Oregon':16000,'Utah':25000}

In [15]:
s3 = pd.Series(sdata)

In [16]:
s3

0hio      35000
Texas     75000
Oregon    16000
Utah      25000
dtype: int64

In [17]:
# 1.4 根据标签索引查询数据

In [18]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [19]:
s2['a']

5.2

In [20]:
type(s2['a'])

float

In [21]:
s2[['b','a']]

b      a
a    5.2
dtype: object

In [22]:
type(s2[['b','a']])

pandas.core.series.Series

In [23]:
# 2.1 根据多个字典序列创建dataframe

In [24]:
data = {
    'state': ['0hio','Texas','Oregon','Utah'],
    'year':[2000,2001,2002,2003],
    'pop':[1.5,1.7,1.9,2.0]
}

In [25]:
df = pd.DataFrame(data)

In [26]:
df

    state  year  pop
0    0hio  2000  1.5
1   Texas  2001  1.7
2  Oregon  2002  1.9
3    Utah  2003  2.0

In [28]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [29]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [30]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
# 3. 从DataFrame 中查询出Series
# 如果只查询一行一列，返回的是pd.Series
# 如果查询多行多列，返回的是pd.DataFrame

In [32]:
df

    state  year  pop
0    0hio  2000  1.5
1   Texas  2001  1.7
2  Oregon  2002  1.9
3    Utah  2003  2.0

In [33]:
# 3.1 查询一列，结果是一个pd.Series

In [34]:
df['year']

0    2000
1    2001
2    2002
3    2003
Name: year, dtype: int64

In [35]:
type(df['year'])

pandas.core.series.Series

In [36]:
# 3.2 查询多列，结果是一个pd.DataFrame

In [37]:
df[['year','pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  1.9
3  2003  2.0

In [38]:
type(df[['year','pop']])

pandas.core.frame.DataFrame

In [39]:
# 3.3 查询一行，结果是一个pd.Series

In [40]:
df.loc[1]

state    Texas
year      2001
pop        1.7
Name: 1, dtype: object

In [41]:
type(df.loc[1])

pandas.core.series.Series

In [42]:
# 3.4 查询多行，结果是一个pd.DataFrame

In [43]:
df.loc[1:3]

    state  year  pop
1   Texas  2001  1.7
2  Oregon  2002  1.9
3    Utah  2003  2.0

In [44]:
type(df.loc[1:3])

pandas.core.frame.DataFrame