In [13]:
import pandas as pd

# fpath = "./datas/ml-latest-small/ratings.csv"

ratings = pd.read_csv(fpath)

# 查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
# 查看数据形状，返回行数/列数
ratings.shape

(100836, 4)

In [4]:
# 查看列表名称
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [3]:
# 查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [5]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [ ]:
# 读取txt,自己指定分隔符、列名

In [ ]:
fpath1 = "./datas/crazyant/access_pvuv.txt"

In [9]:
pvuv = pd.read_csv(
    fpath1,
    sep = "\t",
    header = None,
    names = ['pdate','pv','uv']
)

In [15]:
pvuv

                                  pdate  pv  uv
0       userId,movieId,rating,timestamp NaN NaN
1                     1,1,4.0,964982703 NaN NaN
2                     1,3,4.0,964981247 NaN NaN
3                     1,6,4.0,964982224 NaN NaN
4                    1,47,5.0,964983815 NaN NaN
...                                 ...  ..  ..
100832        610,166534,4.0,1493848402 NaN NaN
100833        610,168248,5.0,1493850091 NaN NaN
100834        610,168250,5.0,1494273047 NaN NaN
100835        610,168252,5.0,1493846352 NaN NaN
100836        610,170875,3.0,1493846415 NaN NaN

[100837 rows x 3 columns]