In [13]:
import pandas as pd

fpath = "./datas/ml-latest-small/ratings.csv"

ratings = pd.read_csv(fpath)

# 查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
# 查看数据形状，返回行数/列数
ratings.shape

(100836, 4)

In [4]:
# 查看列表名称
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [3]:
# 查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [16]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object